
#video-main.active {
    width: 100%;
    height: 100vh;
    max-height: 80vmin;
}


#video-pip.active {
    width: 100%;
}

@media (max-width: 900px) {
    #video-pip.active {
        min-height: 315px;
    }
}